<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Katakana-board</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">katakana-board</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="test" *ngFor="let level of levels">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Katana</ion-card-subtitle>
        <ion-card-title>Nivel {{level.level}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
