<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-nav-link routerLink="/hiragana-board" class="ion-padding">Hiragana</ion-nav-link>
      </ion-item>
      <ion-item>
        <ion-nav-link routerLink="/katakana-board" class="ion-padding">Katakana</ion-nav-link>
      </ion-item>
      <ion-item>
        <ion-nav-link (click)="logout()" class="ion-padding">Cerrar sesión</ion-nav-link>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Memorizamaki</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    Bienvenido a Memorizamaki.

    Puedes selecciónar los juegos disponibles a continuación o bien puedes sencillamente
    deslizar el menú para selecciónar tu juego y/o cerrar tu sesión.


  </ion-content>
</div>
