<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Katakana</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row *ngFor="let katakana of Katakanas">
      <ion-col col-6>
        <ion-card [disabled]="katakana.isMatched">
          <ion-card-header [hidden]="katakana.isFlipped">
            <ion-card-title>{{ katakana.symbol }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card [disabled]="katakana.isMatched">
          <ion-card-header [hidden]="katakana.isFlipped">
            <ion-card-title>{{ katakana.romaji }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
